<article class="columns | gap-xx-large">
  <div>
    {% assign heading = headingLevel | default: "h3" %}
    {% assign experience = cv.experience %}
    <{{ heading }} class="subheading" id="roles">Roles</{{ heading }}>
    <ul role="list" class="flow">
      {% for job in experience %}
      <li>
        <p class="tertiary-text">{{ job.period }}</p>
        <p>{{ job.title }}</p>
        <p><small>{{ job.employer }}</small></p>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div>
    <{{ heading }} class="subheading" id="clients">Clients</{{ heading }}>
    <ul role="list">
      {% for client in cv.clients %}
      <li>{{ client }}</li>
      {% endfor %}
    </ul>
  </div>
  <div>
    <{{ heading }} class="subheading" id="skills">Skills</{{ heading }}>
    <ul role="list">
      {% for skill in cv.skills %}
      <li>{{ skill }}</li>
      {% endfor %}
    </ul>
  </div>
  <div>
    <{{ heading }} class="subheading" id="recognition">Recognition</{{ heading }}>
    <ul role="list" class="flow">
      {% assign awards = cv.recognition %}
      {% for award in awards %}
      <li>
        <a href="{{ award.url }}">
          {{ award.source }}
        </a>
        <p><small>{{ award.date }}</small></p>
      </li>
      {% endfor %}
    </ul>
  </div>
</article>
