<footer>
  <h3 class="visually-hidden">Footer</h3>
  <section class="columns | gap-xx-large">
    {% assign footerCategories = "general, information, contact, elsewhere" | split: ", " %}
    {% for category in footerCategories %}
      <div>
        <h4 class="gap">{{ navigation[category].name }}</h4>
        <ul role="list" class="tertiary-text">
          {% for page in navigation[category].pages %}
          <li class="gap">
            <a {% if navigation[category].name == "Contact"%}rel="me"{% endif %} href="{{ page.url }}">{{ page.name }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </section>
  <section class="switcher | gap-x-large">
    <p class="tertiary-text">
      <small>&copy; {{ "now" | date: "%Y" }}, Luke Mitchell</small>
    </p>
    <p class="tertiary-text">
    Last deploy: <time datetime="{{ deploy_info.latest_deployment_date }}">{{ deploy_info.latest_deployment_date | date: "%d %b %Y @ %H:%M" }}</time> |
      Commit: <a href="https://github.com/LkeMitchll/interroban.gg/commit/{{ deploy_info.latest_commit }}">{{ deploy_info.latest_commit }}</a>
    </p>
  </section>
</footer>
