---
layout: layouts/default
---

<header class="flow | measure gap-x-large">
  <h1 class="gap-large">{{ title }}</h1>
  <ul class="tertiary-text" role="list">
    <li>Tags: <span class="tag">{{ type if type else "Post" }}</span></li>
    <li>Date: {{ date | formatDate }}</li>
  </ul>
</header>

<article class="h-entry hentry | markdown | gap-x-large">
  {{ content }}
</article>

{% assign currentPostMentionCount = webmentions | webmentionCountForPage -%}
{% assign currentPostMentions = webmentions | webmentionsForPage -%}
<details class="tertiary-text | gap-x-large">
  <summary class="gap">Mentions: {{ currentPostMentionCount }}</summary>
  {% if currentPostMentionCount > 0 %}
    <ol role="list" class="flow gap">
      {% for mention in currentPostWebMentions %}
        <li><a href="{{ mention.url }}">{{ mention.author.name }}</a></li>
      {% endfor %}
    </ol>
  {% else %}
    <p>No webmentions yet 😿</p>
  {% endif %}
</details>

{% include "components/commits.liquid" %}
