---
layout: layouts/default
title: Journal
introduction:
  What I’ve been doing recently, a blog, a scrapbook,
  and a place to show what I am currently listening to and watching.
  It’s also a bit of playground to grab data from a few services I like.
toc: ["Writing", "Listening", "Reading", "Watching", "Scrapbook"]
---
<article id="writing" class="flow | gap-xx-large">
  <header class="flow">
    <h2>Writing</h2>
    <p class="measure">
      I try my best to write down a few thoughts each year, but I won’t hold myself too accountable.
    </p>
    <ul role="list" class="horizontal | tertiary-text">
      <li>
        <a href="/rss.xml">
          RSS Feed
        </a>
      </li>
      <li>
        <a href="/feeds/posts.json">
          JSON Feed
        </a>
      </li>
    </ul>
  </header>

  {% assign posts = collections.post | reverse %}
  {% include "components/posts.liquid" %}
</article>

<article id="listening" class="flow | gap-xx-large">
  <header class="gap-large">
    <h2>Listening</h2>
    <p class="measure | gap-large">
      I listen to music, mostly while I work, or walk. I use
      <a href="https://www.apple.com/uk/apple-music/">Apple Music</a>
      and I collect the stats with <a href="https://www.last.fm">last.fm</a>.
    </p>
  </header>
  <section>
    <h3>Playing now or recently</h3>
    <now-playing>
      <div class="horizontal">
        <img src="{{ last_played.albumArt }}" width="100" data-cover/>
        <div>
          <p class="tertiary-text"><small data-time>{{ last_played.playedAt | date: "%d %b %Y @ %H:%M", "Europe/London" }}</small></p>
          <p><a href="{{ last_played.url }}" data-track>{{ last_played.title }}</a></p>
          <p><small data-artist>{{ last_played.artist }}</small></p>
        </div>
      </div>
    </now-playing>
    <script src="/assets/js/now-playing.js"></script>
  </section>
  <section class="columns">
    {% for week in music.weekly %}
    <div>
      <h3 class="subheading">{{ week.title }}</h3>
      <ul role="list" class="tertiary-text">
        <li class="horizontal | border gap">
          <p>{{ week.tracks.title }}</p>
          <p class="push-right">
            {{ week.tracks.total }}
          </p>
        </li>
        <li class="horizontal | border gap">
          <p>{{ week.albums.title }}</p>
          <p class="push-right">
            {{ week.albums.total }}
          </p>
        </li>
      </ul>
    </div>
    {% endfor %}
  </section>
  <section class="columns">
    <div>
      <h3 class="subheading">Top albums (3 months)</h3>
      <ol role="list">
        {% for album in music.topAlbums %}
        <li class="border">
          <a href="{{ album.url }}">
            {{ album.title }}
          </a>
          <p class="gap-small"><small>{{ album.artist }}</small></p>
        </li>
        {% endfor %}
      </ol>
    </div>
    <div>
      <h3 class="subheading">Top artists (3 months)</h3>
      <ol role="list">
        {% for artist in music.topArtists %}
        <li class="border">
          <a href="{{ artist.url }}">
            {{ artist.name }}
          </a>
          <p class="gap-small"><small>{{ artist.playcount }} plays</small></p>
        </li>
        {% endfor %}
      </ol>
    </div>
  </section>
</article>

<article id="reading" class="gap-xx-large">
  <header class="gap-large">
    <h2>Reading</h2>
    <p class="measure">
      The books I’m reading, and the books I want to read next. You can see more on
      <a href="https://literal.club/interrobang">Literal</a>.
    </p>
  </header>

  <section class="columns">
    <div>
      <h3>Finished Recently</h3>
      <ol role="list" class="gap-large">
        {% for item in reading.readRecently %}
          <li class="border">
            <a href="https://literal.club/book/{{ item.book.slug }}">
              {{ item.book.title }}
            </a>
            <p class="gap-small">
              <small>
              {% for author in item.book.authors %}
                {{ author.name }}
              {% endfor %}
              </small>
            </p>
          </li>
        {% endfor %}
      </ol>
    </div>

    <div>
      <h3>Reading Now</h3>
      <ol role="list" class="gap-large">
        {% for item in reading.readingNow %}
          <li class="border">
            <a href="https://literal.club/book/{{ item.book.slug }}">
              {{ item.book.title }}
            </a>
            <p class="gap-small">
              <small>
              {% for author in item.book.authors %}
                {{ author.name }}
              {% endfor %}
              </small>
            </p>
          </li>
        {% endfor %}
      </ol>
    </div>
</article>

<article id="watching" class="gap-xx-large">
  <header class="gap-large">
    <h2>Watching</h2>
    <p class="measure">
      The last 6 movies that I’ve watched and (hopefully) enjoyed, I record the
      ratings with <a href="https://letterboxd.com">Letterboxd.</a>
    </p>
  </header>

  <ol role="list" class="columns">
    {% for movie in movies %}
    <li>
      <img src="{{ movie.poster }}" width="500" height="750" loading="lazy" alt="{{ movie.title }}"
        title="{{ movie.title }}" class="gap" />
      <div class="flow | tertiary-text">
        <p class="tertiary-text | gap-small">Rating: {{ movie.rating | starRating }}</p>
        <a href="{{ movie.url }}">{{ movie.title }}</a>
      </div>
    </li>
    {% endfor %}
  </ol>
</article>

<article id="scrapbook" class="flow | gap-xx-large">
  <header>
    <h2>Scrapbook</h2>
    <p class="measure gap">
      This is the last 30 images that have caught my eye. I collect them using
      <a href="https://savee.it/interrobang/">Savee</a>, a Pinterest
      alternative.
    </p>
    <p class="measure leading-crushed">
      <small>
        Each image is copyright of its respective owner. Reasonable effort has
        been made to retain the source information, although this has not always
        been possible. Image sources are provided (if known).
      </small>
    </p>
  </header>

  {% assign num_cols = 5 %}
  {% assign last = num_cols | minus: 1 %}
  <div class="scrapbook">
    {% for col in (0..last) %}
      <div class="column">
        {% for item in scrapbook %}
          {% assign mod_result = forloop.index0 | modulo: num_cols %}
          {% if mod_result == col %}
            <figure class="gap">
              <img src="{{ item.thumbnail }}" loading="lazy" width="{{ item.width }}" height="{{ item.height }}" alt="{{ item.name }}" />
              <a class="tertiary-text" href="{{ item.page_url | default: 'https://savee.it' | append: item.url }}">
                Source
              </a>
            </figure>
          {% endif %}
        {% endfor %}
      </div>
    {% endfor %}
  </div>
</article>
